<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Kickerscore</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ url_for('.index') }}">Kickerscore</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            {% set topbar = [
              (url_for('index'), 'index', 'Home'),
              (url_for('table'), 'table', 'Single'),
              (url_for('table_teams'), 'table_teams', 'Teams'),
              (url_for('table_opponents'), 'table_opponents', 'Opponents'),
              (url_for('elo'), 'elo', 'Elo'),
              (url_for('scores'), 'scores', 'Scores'),
              (url_for('chart'), 'chart', 'Player chart'),
              (url_for('add_score'), 'add_score', 'Add'),
            ] -%}
            {% set active_page = active_page|default('index') -%}

            {% for href, id, caption in topbar %}
              <li{% if id == active_page %} class="active"{% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
              </li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    {% for msg in get_flashed_messages() %}
      <p>{{ msg }}</p>
    {% endfor %}
    <div id="content">{% block content %}{% endblock %}</div>
  </div>

  <footer class="footer">
    <div class="container">
      {% block footer %}
        &copy; Copyright 2013 by <a href="http://bogosoft.com/">me</a>.
      {% endblock %}
    </div>
  </footer>
  <!-- <script src="/static/js/zepto.min.js"></script> -->
  <script src="/static/js/jquery-2.0.2.min.js"></script>
  <script src="/static/js/score.js"></script>
  {% block js %}
  {% endblock %}
</body>
</html>