{% extends "base.html" %}
{% set active_page = 'elo' -%}
{% block title %}Elo Rakings{% endblock %}
{% block content %}

<div class='row'>
  <div class='span7 column'>
    <h2>Elo Table for <strong>single</strong> games.</h2>
    {% import '_macros.html' as macros %}
    {{ macros.elo_table(elo_single)}}
  </div>
</div>

<div class='row'>
  <div class='span7 column'>
    <h2>Elo Table for <strong>double</strong> games.</h2>
    {% import '_macros.html' as macros %}
    {{ macros.elo_table(elo_double)}}
  </div>
</div>

<div class='row'>
  <div class='span7 column'>
    <h2>Elo Table for <strong>defense</strong> positions.</h2>
    {% import '_macros.html' as macros %}
    {{ macros.elo_table(elo_def)}}
  </div>
</div>

<div class='row'>
  <div class='span7 column'>
    <h2>Elo Table for <strong>offense</strong> positions.</h2>
    {% import '_macros.html' as macros %}
    {{ macros.elo_table(elo_off)}}
  </div>
</div>



{% endblock %}