{% extends "base.html" %}
{% set active_page = 'index' -%}
{% block title %}Homepage{% endblock %}
{% block content %}

<div class='row'>
  <h1>Welcome!</h1>
</div>
<div class='row'>
  <div class='span10 columns'>
    Welcome to the Ermiscale Mumbo Jumbo Kicker Score Counter App!
  </div>
  <div class='span6 columns'>
    <ul class='none'>
      <li>
        <p>Last match from {{ last_match.date | format_datetime }} <br>
            <span>{{ last_match.red2.name }} {{ last_match.red1.name }}</span>
            {{ last_match.score_red }} : {{ last_match.score_blue }}
            <span>{{ last_match.blue1.name }} {{ last_match.blue2.name }}</span>
        </p>
      </li>
      <li>Total matches: {{ total_matches }}</li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='span8 column'>
    <h3>Last Matches from 4 weeks</h3>
    {% import '_macros.html' as macros %}
    <h4>Double</h4>
    {{ macros.table_table(stats_double.table())}}
    <h4>Single</h4>
    {{ macros.table_table(stats_single.table())}}
  </div>
</div>

{% endblock %}