{% extends "base.html" %}
{% set active_page = 'scores' -%}
{% block title %}All scores{% endblock %}

{% block content %}
  <div class='row'>
    <h1>All Scores</h1>
  </div>
  <div class='row'>
    <h3>Legend</h3>
    <ul>
      <li>Red 0:0 Blue</li>
      <li><span style='background-color: #eee'>&nbsp;/&nbsp;</span> Def/Off</li>
    </ul>
    {% import '_macros.html' as macros %}
    {{ macros.date_matches_list(date_scores)}}
  <div>
  <div class='row'>
    <p><a href="{{url_for('scores', offset=offset+limit)}}">Next</a></p>
  </div>
{% endblock %}