{% extends "base.html" %}
{% set active_page = 'add_score' -%}
{% block title %}Add new score{% endblock %}

{% block content %}
  <h1>Edit Score</h1>

  {% import 'score_form.html' as score_form %}
  {{ score_form.score_form(form, 'Update', allow_delete=True)}}

{% endblock %}

{% block js %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#delete_score_btn').bind('click', function() {
        $('#delete_score').attr('value', true);
        $('#score_form').submit();
      });
    });
  </script>
{% endblock %}