{% extends "base.html" %}
{% set active_page = 'table_teams' -%}
{% block title %}Table for last {{ n_text }} {{ interval }}{% endblock %}
{% block content %}

{% import '_macros.html' as macros %}

{{ macros.select_intervall('table_teams')  }}

<div class='row'>
  <div class='span7 column'>
    <h2>Table for teams last {{ n_text }} {{ interval }}</h2>
    {{ macros.table_table(team_statistics.table())}}
  </div>
</div>

{% endblock %}