body {
  padding-top: 60px;
}
div.container {
  width: 700px;
}

div.score_input {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.score_input h5 {
  line-height: 14px;
}
div.score_input .formcol {
  float: left;
/*  padding-left: 10px;*/
}

div.score_input select.score {
  width: 50px;
}

div.score_input select.player {
  width: 100px;
}

div.score_input .formlabel {
/*  font-size: 1.8em;*/
  padding-bottom: 0.2em;
  text-align: center;
}

#multiplayer {
  display: none;
}

div.score_input div.off,
div.score_input span.off,
div.score_input label.off
{
  display: none;
}

#score_options .column label {
  width: auto;
}

.blocklabel {
  display: block;
  width: inherit;
  text-align: left;
}

tr.better,
li.won {
  background-color: #eeffee;
}
tr.worse,
li.lost {
  background-color: #ffeeee;
}

table.common-table td {
  padding: 4px;
}


.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

#chart {
  height: 400px;
}